@charset "UTF-8";
/* Universal Styles */
body {
	font-family: source-sans-pro;
	background-color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}

.containerStyle {
	
}

.copyrightStyle {
	
}


/* Mobile */
@media (max-width: 320px) {

}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {

}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {

}
