@charset "UTF-8";
/* Universal Styles */
* {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	font-family: "Arial";
	margin: 0;
	font-style: normal;
	font-weight: 200;
	background-image: url("https://i.imgur.com/qlgoLVk.png");
	background-color: #6655b9;
	width: inherit;
	height: inherit;
}

h1 {
	height: auto;
	width: auto;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 40px;
}

.flexColumnStyle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flexRowStyle {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/*content stylings*/
.containerStyle {
	width: 985px;
	height: inherit;
	position: relative;
	margin: auto;
}

#pressButton {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	background-color: transparent;
	cursor: pointer;
	z-index: 999;
	border: none;
}

/*owl stylings*/
#Owl {
	width: 500px;
	height: 665px;
	overflow: hidden;
	position: relative;
}
#imageBody {
	position: absolute;
	height: inherit;
	width: inherit;
	top: -130px;
	left: 0px;
	z-index: 100;
}
#imageHead {
	position: absolute;
	height: 180px;
	width: 180px;
	right: 25px;
	top: 180px;
	z-index: 101;
}
#imageFire {
	position: absolute;
	height: inherit;
	width: inherit;
	display: none;
	bottom: -330px;
	right: -835px;
	z-index: 102;
}

/*footer stylings*/
.footer {
	width: inherit;
	height: 100px;
	text-align: center;
	color: white;
	padding: 10px 0;
}

/* super small mobile */
@media (max-width: 320px) {
	.containerStyle {
		width: 100%;
		max-width: 500px;
		margin: 0;
	}
	
	.flexRowStyle {
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
	}
	
	#Owl {
		max-height: 400px;
		width: inherit;
		height: 100%;
	}
	#imageBody {
		top: -65px;
		left: 0px;
		z-index: 100;
	}
	#imageHead {
		height: 100px;
		width: 100px;
		right: 65px;
		top: 110px;
	}
	#imageFire {
		bottom: -345px;
		right: -260px;
	}
}

/* Small Tablets and mobile */
@media (min-width: 321px)and (max-width: 767px) {
	.containerStyle {
		width: 100%;
		max-width: 500px;
		margin: 0;
	}
	
	.flexRowStyle {
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
	}
	
	#Owl {
		max-height: 400px;
		width: inherit;
		height: 100%;
	}
	#imageBody {
		top: -65px;
		left: 0px;
		z-index: 100;
	}
	#imageHead {
		height: 100px;
		width: 100px;
		right: 65px;
		top: 110px;
	}
	#imageFire {
		bottom: -345px;
		right: -260px;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.flexRowStyle {
		flex-direction: column;
		text-align: center;
		justify-content: space-around;
	}
	
	#Owl {
		max-width: 700px;
		max-height: 555px;
		width: 100%;
		height: 100%;
	}
	#imageBody {
		top: -65px;
		left: 0px;
		z-index: 100;
	}
	#imageHead {
		height: 165px;
		width: 165px;
		right: 85px;
		top: 135px;
	}
	#imageFire {
		bottom: -385px;
		right: -675px;
	}
}
